* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #0b0b0f;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
